* {
    padding: 0;
    margin: 0；
}

body {
    font-family: 'Montserrat', sans-serif;
}

div img {
    width: 20%;
}

.displayed_img {
    width: 80vw;
}

@media only screen and (min-width: 640px) {
    .displayed_img {
        width: 640px;
    }
}