body {
    font-family: 'Montserrat', sans-serif;
    margin: 40px;
    text-align: center;
}

.form {
    display:none;
}

div img {
    width: 20%;
}

.displayed-img {
    width: 80vw;
}

#thumb-bar {
    width:80vw;
}

.form * {
    display:block;
    margin: 0px auto;
    position: relative;
}

@media only screen and (min-width: 640px) {

    body {
        display: block;
        position: relative;
        width: 640px;
        margin: 0px auto;
    }
    
    
    .displayed-img {
        width: 640px;
    }

    section p {
        display: flex;
        justify-content: left;
        text-align: left;
    }

    #thumb-bar {
        width: 640px;
    }

    .form * {
        display: inline-block;
        margin-top: 20px;
    }
}
